body {
  background-color: white;
  color: rgb(17, 18, 23);
}

iframe { 
  border: none;
}

.main-grid {
  display:grid;
  grid-template-columns: [content-start] 700px 700px [content-end];
  gap: 10px;
  justify-content: center;
}

.main-grid > .wide {
  grid-column: content;
}

iframe {
  width: 100%;
  height: 823px;
}